@font-face { font-family: Pricedown; src: url(pricedown.ttf); }

body {
	font-family: Maven Pro;
    cursor: url("images/normal.cur"), pointer;
    color: #FFF;
    margin: 0;
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    outline: none;
    padding:0;
    margin:0;
}

.menu-up {
    background-image: linear-gradient(to right, #008618 20%, #0c710b 70%, #365a2c 100%);
    height: 7%;
    color: #FFF;
    font-size: large;
    left: 10%;
    top: 0%;
    width: 80%;
    position: absolute;
}

.menu-bar {
    position: absolute;
    top: 7%;
    height: 0.5%;
    width: 80%;
    left: 10%;
    background-image: linear-gradient(to right, #52bb39 10%, #39a952 30%, #3a672e 100%);
    border-style: none;
    border-radius: 0px;
}

.menu-tabs {
	background: rgba(0, 0, 0, 0.5);
    height: 9%;
    color: #FFF;
    font-size: large;
    left: 10%;
    top: 7.5%;
    width: 80%;
    position: absolute;
}

.game {
    background: rgba(0, 0, 0, 0.5);
    height: 83.5%;
    color: #FFF;
    font-size: 2vh;
    left: 10%;
    top: 16.5%;
    width: 80%;
    position: absolute;
    overflow: auto;
}

.game-title {
	color: #FFF;
	font-family: Pricedown;
	float: left;
	position: relative;
	font-size: 5vh;
	top: 1%;
	left: 0.5%;
}

.cash {
    color: #FFF;
	text-align: center;
	float: right;
	font-size: 2vh;
	position: relative;
    top: 10%;
    margin-left: 1%;
    margin-right: 1%;
	right: 0.5%;
}

.cash-title {
    font-family: Pricedown;
    font-size: 2.5vh;
}

.button1 {
    background-color: rgba(255, 255, 255, 0);
	color: #FFF;
    border-style: solid;
    border-color: #00000000;
    border-width: 0 0 0.5vh 0;
    float: left;
    cursor: url("images/hand.cur"), pointer;
    font-size: 2vh;
    font-family: Maven Pro;
    padding: 1.56vh;
    width: 25%;

}

.button1:hover {
    text-shadow: 0px 0px 16px #023609;
    color: rgb(56, 163, 56);
    text-shadow: 0px 0px 20px rgb(31, 177, 51);
    cursor: url("images/hand.cur"), pointer;
    border-width: 0 0 0.5vh 0;
    border-color: #2e691f;
    border-radius: 10%;
}

.button1.active {
    text-shadow: 0px 0px 16px #023609;
    color: rgb(56, 163, 56);
    text-shadow: 0px 0px 20px rgb(31, 177, 51);
    cursor: url("images/hand.cur"), pointer;
    border-width: 0 0 0.5vh 0;
    border-color: #2e691f;
    border-radius: 10%;
}

button:focus {outline:0;}

.center {
	text-align: center;
}

p {
    font-size: 1.75vh;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.bar {
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 4vh;
    background: #cdffc02e;
    box-shadow: 0 -1vh 1vh rgba(193, 255, 177, 0.22) inset;
    border-width: 0 0 0.2vh 0;
    border-color: #579c43;
    border-style: solid;
}

.bar div {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
	border-radius: 4vh;
	box-shadow: 0 0.5vh 0.5vh #333;	
    background-color: #3e7531;
	background: -webkit-linear-gradient(right, #409954 10%, #146b27 80%, #17420d 100%);
	background: -moz-linear-gradient(right, #409954 10%, #146b27 80%, #17420d 100%); 
	background: -ms-linear-gradient(right, #409954 10%, #146b27 80%, #17420d 100%); 
	background: -o-linear-gradient(right, #409954 10%, #146b27 80%, #17420d 100%);	
}

.organization {
	background:none;
	background-color: rgba(0,0,0,0.80);
	border: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: rgb(255, 255, 255); 
	border-radius: 15px;
	font-size: 15px;
	font-family: Maven Pro;
	text-align: center;
    text-transform: capitalize;
    padding: 10px 25px 10px 25px;
	overflow: hidden;
	outline: none;
	resize:none;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 100%;
}

.tutorial {
    overflow: auto;
    position: relative;
    border-width: 0 0.1vh 0 0.1vh;
    border-color: #7dff6d7a;
    border-style: solid;
    background-size: cover;
    background-image: linear-gradient(to bottom,#37662373 , #204b299e , #0f531eab );
    border-radius: 0.3vh;
    transition: transform .3s ease-out;
    /* height: 90%; */
    left: 22.5%;
    top: 20%;
    bottom: 50%;
    width: 55%;
    color: #ffffff;
    text-align: center;
}

.text-title {
    font-size: 3vh;
    font-family: Pricedown;
    color: #2e691f;
}

.stats-title {
    font-size: 3vh;
    font-family: Pricedown;
}

.text-normal {
    font-size: 1.75vh;
}

.icon1 {
    background-image: url(images/missions.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 2.5vh;
    height: 2.5vh;
}

.icon2 {
    background-image: url(images/stockmarket.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 2.5vh;
    height: 2.5vh;
}

.icon3 {
    background-image: url(images/management.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 2.5vh;
    height: 2.5vh;
}

.icon4 {
    background-image: url(images/statistics.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 2.5vh;
    height: 2.5vh;
}

.icon5 {
    background-image: url(images/dollar.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 3.5vh;
    height: 3.5vh;
}

.icon6 {
    background-image: url(images/RP.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 3.5vh;
    height: 3.5vh;
}

.button2 {
    background-color: rgba(255, 255, 255, 1);
	color: #2e691f;
    border-radius: 1vh;
    cursor: url("images/hand.cur"), pointer;
    font-size: 2vh;
    font-family: Maven Pro;
    padding: 1.56vh;
    width: 48%;
    border: none;
    margin-left: 1%;
    margin-right: 1%;

}

.button2:hover {
    text-shadow: 0px 0px 16px #023609;
    color: #749a6a;
    cursor: url("images/hand.cur"), pointer;
    border-radius: 1vh;
}

.button3 {
    background-color: rgba(255, 255, 255, 1);
	color: #2e691f;
    border-radius: 1vh;
    cursor: url("images/hand.cur"), pointer;
    font-size: 2vh;
    font-family: Maven Pro;
    padding: 1.56vh;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    border: none;

}

.button3:hover {
    text-shadow: 0px 0px 16px #023609;
    color: #749a6a;
    cursor: url("images/hand.cur"), pointer;
    border-radius: 1vh;
}

textarea {
    outline: none;
    resize: none;
    font-size: 1.75vh;
    overflow: hidden;
    margin-left: 1%;
    margin-right: 1%;
    width: 75vh;
    height:2vh;
}

.gameinfos {
    position: absolute;
    bottom: 0%;
    width: 100%;
}

.content {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    padding-bottom: 3vh;
    border-radius: 1vh;
}

::-webkit-scrollbar {
    width: 1.2vh;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0.6vh rgba(0,0,0,0.66);
    box-shadow: inset 0 0 0.6vh rgba(0,0,0,0.66);
    background: rgba(0,0,0,0.5);
    border-radius: 1vh;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 1vh;
	border: 0.1vh solid rgba(0,0,0,0.5);
	background-image: linear-gradient(to bottom,#146b27 , #409954 , #146b27 );
}

.vert {
    color: rgb(56, 163, 56);
    text-shadow: 0px 0px 20px rgb(31, 177, 51);
}

.gris {
	color: rgb(150, 150, 150);
}

.rouge {
    color: #b92e2e;
    text-shadow: 0px 0px 10px #ff0000;
}

.jaune {
	color: #FFF000;
}

.blanc {
    color: #FFF;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}

.rare {
    color: #644fff;
    text-shadow: 0px 0px 20px #6015f3;
}

.rp {
    color: #1a70d2;
    text-shadow: 0px 0px 20px #1a70d2;
}

.button4 {
    background-image: linear-gradient(to left, #17420d,#146b27, #146b27);
	color: #ffffff;
    border-radius: 1vh;
    outline: none;
    cursor: url("images/hand.cur"), pointer;
    font-size: 2vh;
    font-family: Maven Pro;
    padding: 1.56vh;
    width: 48%;
    border: none;
    margin-left: 1%;
    margin-right: 1%;
}

.button4.disabled {
    color: rgba(0,0,0,0);
    background-image: none;
    background-color: rgba(0,0,0,0.40);
    border: 0.1vh solid rgba(0,0,0,0.40);
}

.button4.disabled:hover {
    cursor: url("images/normal.cur"), pointer;
}

.button4:hover {
    cursor: url("images/hand.cur"), pointer;
    border-radius: 1vh;
}